[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/InnoDependencyInstaller"]
	path = thirdparty/InnoDependencyInstaller
	url = https://github.com/DomGries/InnoDependencyInstaller.git
