[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/InnoDependencyInstaller"]
	path = thirdparty/InnoDependencyInstaller
	url = https://github.com/DomGries/InnoDependencyInstaller.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = https://github.com/TFORevive/minhook.git
[submodule "thirdparty/discord-rpc"]
	path = thirdparty/discord-rpc
	url = https://github.com/harmonytf/discord-rpc.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl.git
	branch = curl-8_4_0
[submodule "thirdparty/nghttp2"]
	path = thirdparty/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "bme_scripts"]
	path = bme_scripts
	url = https://github.com/p0358/bme_scripts.git
